---
import Layout from "../layouts/Layout.astro";
import Highlight from "../assets/sec5-bg.jpg";

import "./style.css";
---

<Layout title="Triyaah">
  <section class="section-1 row">
    <div class="container">
      <div class="col-1">
        <hr />
        <h1>Save up to 50% in our wedding sale</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit
          phasellus mollis sit aliquam sit nullam neque ultrices.
        </p>
        <div class="buttons">
          <button class="btn-1">Explore tradition</button>
          <button class="btn-2">wedding collection</button>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </section>
  <section class="section-2">
    <div class="container">
      <div class="col-1">
        <hr />
        <h2>Browse by collection</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit eu et posuere
          feugiat pellentesque curabitur purus
        </p>
      </div>
      <div class="col-2">
        <div class="card-container">
          <div class="column">
            <div class="card-1">
              <div class="empty"></div>
              <div class="content">
                <h3>WEDDING</h3>
                <p>
                  Lorem ipsum dolor sit amet cons eadipiscing elit eu et posue.
                </p>
                <button class="card-button">
                  Browse collection &nbsp; <i class="fa fa-arrow-right"></i>
                </button>
                <!-- <a href="#">
						<p>Browse collection &nbsp; <i class="fa fa-arrow-right"></i></p>
					</a> -->
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card-2">
              <div class="empty"></div>
              <div class="content">
                <h3>casual</h3>
                <p>
                  Lorem ipsum dolor sit amet cons eadipiscing elit eu et posue.
                </p>
                <button class="card-button">
                  Browse collection &nbsp; <i class="fa fa-arrow-right"></i>
                </button>
                <!-- <a href="#">
						<p>Browse collection &nbsp; <i class="fa fa-arrow-right"></i></p>
					</a> -->
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card-3">
              <div class="empty"></div>
              <div class="content">
                <h3>PARTY</h3>
                <p>
                  Lorem ipsum dolor sit amet cons eadipiscing elit eu et posue.
                </p>
                <button class="card-button">
                  Browse collection &nbsp; <i class="fa fa-arrow-right"></i>
                </button>
                <!-- <a href="#">
						<p>Browse collection &nbsp; <i class="fa fa-arrow-right"></i></p>
					</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-3">
    <div class="container">
      <div class="col-1">
        <div class="content">
          <hr />
          <h2>Latest collection</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit eu et posuere
            feugiat pellentesque curabitur purus
          </p>
        </div>
        <div class="button">
          <button>ALL PRODUCTS</button>
        </div>
      </div>
      <div class="col-2">
        <div class="card-container">
          <div class="column">
            <div class="card-1">
              <div class="content-1">
                <div class="heart-icon">
                  <i class="fa fa-heart-o"></i>
                </div>
                <div class="price-tag">
                  <p>&nbsp; ₹15000.00 rs &nbsp;</p>
                </div>
              </div>
              <div class="empty"></div>
            </div>
            <div class="content-2">
              <div class="column-1">
                <div><h3>Lorem ipsum dolor sit</h3></div>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="column-2">
                <p>
                  Lorem ipsum dolor sit amet cons ead ipiscing elit eu et posue
                  dolor sit.
                </p>
                <button>Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card-2">
              <div class="content-1">
                <div class="heart-icon">
                  <i class="fa fa-heart-o"></i>
                </div>
                <div class="price-tag">
                  <p>&nbsp; ₹15000.00 rs &nbsp;</p>
                </div>
              </div>
              <div class="empty"></div>
            </div>
            <div class="content-2">
              <div class="column-1">
                <div><h3>Lorem ipsum dolor sit</h3></div>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="column-2">
                <p>
                  Lorem ipsum dolor sit amet cons ead ipiscing elit eu et posue
                  dolor sit.
                </p>
                <button>Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card-3">
              <div class="content-1">
                <div class="heart-icon">
                  <i class="fa fa-heart-o"></i>
                </div>
                <div class="price-tag">
                  <p>&nbsp; ₹15000.00 rs &nbsp;</p>
                </div>
              </div>
              <div class="empty"></div>
            </div>
            <div class="content-2">
              <div class="column-1">
                <div><h3>Lorem ipsum dolor sit</h3></div>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="column-2">
                <p>
                  Lorem ipsum dolor sit amet cons ead ipiscing elit eu et posue
                  dolor sit.
                </p>
                <button>Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card-container">
          <div class="column">
            <div class="card-1">
              <div class="content-1">
                <div class="heart-icon">
                  <i class="fa fa-heart-o"></i>
                </div>
                <div class="price-tag">
                  <p>&nbsp; ₹15000.00 rs &nbsp;</p>
                </div>
              </div>
              <div class="empty"></div>
            </div>
            <div class="content-2">
              <div class="column-1">
                <div><h3>Lorem ipsum dolor sit</h3></div>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="column-2">
                <p>
                  Lorem ipsum dolor sit amet cons ead ipiscing elit eu et posue
                  dolor sit.
                </p>
                <button>Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card-2">
              <div class="content-1">
                <div class="heart-icon">
                  <i class="fa fa-heart-o"></i>
                </div>
                <div class="price-tag">
                  <p>&nbsp; ₹15000.00 rs &nbsp;</p>
                </div>
              </div>
              <div class="empty"></div>
            </div>
            <div class="content-2">
              <div class="column-1">
                <div><h3>Lorem ipsum dolor sit</h3></div>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="column-2">
                <p>
                  Lorem ipsum dolor sit amet cons ead ipiscing elit eu et posue
                  dolor sit.
                </p>
                <button>Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card-3">
              <div class="content-1">
                <div class="heart-icon">
                  <i class="fa fa-heart-o"></i>
                </div>
                <div class="price-tag">
                  <p>&nbsp; ₹15000.00 rs &nbsp;</p>
                </div>
              </div>
              <div class="empty"></div>
            </div>
            <div class="content-2">
              <div class="column-1">
                <div><h3>Lorem ipsum dolor sit</h3></div>
                <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="column-2">
                <p>
                  Lorem ipsum dolor sit amet cons ead ipiscing elit eu et posue
                  dolor sit.
                </p>
                <button>Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-4">
    <div class="col-1">
      <div class="container">
        <div class="empty-1"></div>
        <div class="content">
          <hr />
          <h2>Lorem ipsum dolor sit amet, consectetur</h2>
          <button>Browse category</button>
        </div>
        <div class="empty-2"></div>
      </div>
    </div>
    <div class="col-2">
      <div class="container">
        <div class="empty-1"></div>
        <div class="content">
          <hr />
          <h2>Lorem ipsum dolor sit amet, consectetur</h2>
          <button>Browse category</button>
        </div>
        <div class="empty-2"></div>
      </div>
    </div>
  </section>
  <section class="section-5">
    <div class="container">
      <div class="col-1">
        <div class="content">
          <hr>
          <h3>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla tortor
              nam adipiscing morbi nisl vitae mi enim interdum nec viverra leo at
              risus sed nunc duis id massa nunc massa blandit nisl in.</p>
              <button>About us</button>
        </div>
      </div>
      <div class="col-2">
        <img src={Highlight} alt="Highlight">
      </div>
    </div>
  </section>
</Layout>
